body {
	background-color: #bde7f5;
	height: 720px;
	

}


.house {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: relative;
	
	
    
}

.santa {
	display: inline-block;
	position: absolute;
	z-index: 2;
	animation: mymove 5s infinite;
  	
}

@keyframes mymove {
	from {left: 0px;}
  	to {left: 1600px;}
}





